body {
    /* Set background image */
    background-image: linear-gradient(rgba(54, 27, 211, 0.6),rgba(223, 29, 29, 0.6)), url(../images/back1.jpg);
    /* cover the entire page */
    background-size: cover;
    background-position: center;
    /* Make background fixed */
    background-attachment: fixed;
    background-color: #f0f0f0; /* Choose a color that complements your design */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* additional styles for your content */
.content {
    padding: 20px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}

 /* Styles for the transparent header */
 header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    padding: 15px;
    color: #fff; /* Set text color to contrast with the background */
    z-index: 1000; /* Ensure the header is above other elements */
}

/* Styles for navigation links */
nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family:monospace;
}

footer {
    background-color: #202020;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family:monospace;
    font-size: 20px;
}

/* Styles for footer links */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    
}
footer i {
    font-size: 3rem;
}
